In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Dataset
1. can-train-and-test dataset
    - attack-free
    - DoS
    - accessory
    - force-neutral
    - rpm
    - standstill

In [3]:
## import datasets
dataset_dir = './datasets/cantrainandtest/can-train-and-test/set_01/train_01/'
attack_free_1 = pd.read_csv(dataset_dir + "attack-free-1.csv")
attack_free_2 = pd.read_csv(dataset_dir + "attack-free-2.csv")
DoS_1 = pd.read_csv(dataset_dir + "DoS-1.csv")
DoS_2 = pd.read_csv(dataset_dir + "DoS-2.csv")
accessory_1 = pd.read_csv(dataset_dir + "accessory-1.csv")
accessory_2 = pd.read_csv(dataset_dir + "accessory-2.csv")
force_neutral_1 = pd.read_csv(dataset_dir + "force-neutral-1.csv")
force_neutral_2 = pd.read_csv(dataset_dir + "force-neutral-2.csv")
rpm_1 = pd.read_csv(dataset_dir + "rpm-1.csv")
rpm_2 = pd.read_csv(dataset_dir + "rpm-2.csv")
standstill_1 = pd.read_csv(dataset_dir + "standstill-1.csv")
standstill_2 = pd.read_csv(dataset_dir + "standstill-2.csv")

In [4]:
## concatenate related datasets
attack_free = pd.concat([attack_free_1, attack_free_2])
DoS = pd.concat([DoS_1, DoS_2])
accessory = pd.concat([accessory_1, accessory_2])
force_neutral = pd.concat([force_neutral_1, force_neutral_2])
rpm = pd.concat([rpm_1, rpm_2])
standstill = pd.concat([standstill_1, standstill_2])

In [5]:
## concatenate all data-samples into one
can_train_and_test_ds = pd.concat([attack_free, DoS, accessory, force_neutral, rpm, standstill])
can_train_and_test_ds

            timestamp arbitration_id        data_field  attack
0        1.672531e+09            0C1  3000000430000004       0
1        1.672531e+09            0C5  3000000430000004       0
2        1.672531e+09            184      000200000000       0
3        1.672531e+09            1C7    065CB9A200003F       0
4        1.672531e+09            1CD        0000000000       0
...               ...            ...               ...     ...
1267139  1.672532e+09            199  CFFF0FFFEFFE00FF       0
1267140  1.672532e+09            1A1    00000000000000       0
1267141  1.672532e+09            1E5  46000E8000FFF201       0
1267142  1.672532e+09            1C3  0696068F00000000       0
1267143  1.672532e+09            2C3      085706A0071C       0

[10653140 rows x 4 columns]

#### change values of the attack in each dataset

In [12]:
## since accessory mode is just another attack free mode we'd switch the "0" (attack-free) for "1" indicating accessory mode
accessory['attack'] = accessory['attack'].replace(0,1)
DoS['attack'] = DoS['attack'].replace(1,2)
force_neutral['attack'] = force_neutral['attack'].replace(1,3)
rpm['attack'] = rpm['attack'].replace(1,4)
standstill['attack'] = standstill['attack'].replace(1,5)

##### merge all subset into a single dataset

In [24]:
merged_datasets = pd.concat([attack_free, accessory, DoS, force_neutral, rpm, standstill])

filtered = merged_datasets[merged_datasets['attack'] == 1]

filtered

           timestamp arbitration_id        data_field  attack
0       1.672531e+09            1E9  0000000C00000000       1
1       1.672531e+09            0F1          00020040       1
2       1.672531e+09            1E1        0000140000       1
3       1.672531e+09            0F9  0000400000000016       1
4       1.672531e+09            199  8FFF0FFFEFFF00FF       1
...              ...            ...               ...     ...
226161  1.672531e+09            0C5  0000000400000004       1
226162  1.672531e+09            1E5  46FF1A800000E601       1
226163  1.672531e+09            0F9  0000400000000015       1
226164  1.672531e+09            199  0FFF0FFFF00100FF       1
226165  1.672531e+09            19D  80003FFE000000FF       1

[433870 rows x 4 columns]

##### One Hot Vector Encode the various attacks

In [33]:
dummies = pd.get_dummies(merged_datasets, columns=['attack'], prefix='attack')

dummies['attack_0'] = dummies['attack_0'].astype(int)
dummies['attack_1'] = dummies['attack_1'].astype(int)
dummies['attack_2'] = dummies['attack_2'].astype(int)
dummies['attack_3'] = dummies['attack_3'].astype(int)
dummies['attack_4'] = dummies['attack_4'].astype(int)
dummies['attack_5'] = dummies['attack_5'].astype(int)

dummies

,timestamp,arbitration_id,data_field,attack_0,attack_1,attack_2,attack_3,attack_4,attack_5
0,1.672531e+09,0C1,3000000430000004,1,0,0,0,0,0
1,1.672531e+09,0C5,3000000430000004,1,0,0,0,0,0
2,1.672531e+09,184,000200000000,1,0,0,0,0,0
3,1.672531e+09,1C7,065CB9A200003F,1,0,0,0,0,0
4,1.672531e+09,1CD,0000000000,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
1267139,1.672532e+09,199,CFFF0FFFEFFE00FF,1,0,0,0,0,0
1267140,1.672532e+09,1A1,00000000000000,1,0,0,0,0,0
1267141,1.672532e+09,1E5,46000E8000FFF201,1,0,0,0,0,0
1267142,1.672532e+09,1C3,0696068F00000000,1,0,0,0,0,0
1267143,1.672532e+09,2C3,085706A0071C,1,0,0,0,0,0