In [4]:
import numpy
import pandas as pd
import matplotlib.pyplot as plt

## Dataset
1. can-train-and-test dataset
    - attack-free
    - DoS
    - accessory
    - force-neutral
    - rpm
    - standstill

In [31]:
## import datasets
dataset_dir = './datasets/cantrainandtest/can-train-and-test/set_01/train_01/'
attack_free_1 = pd.read_csv(dataset_dir + "attack-free-1.csv")
attack_free_2 = pd.read_csv(dataset_dir + "attack-free-2.csv")
DoS_1 = pd.read_csv(dataset_dir + "DoS-1.csv")
DoS_2 = pd.read_csv(dataset_dir + "DoS-2.csv")
accessory_1 = pd.read_csv(dataset_dir + "accessory-1.csv")
accessory_2 = pd.read_csv(dataset_dir + "accessory-2.csv")
force_neutral_1 = pd.read_csv(dataset_dir + "force-neutral-1.csv")
force_neutral_2 = pd.read_csv(dataset_dir + "force-neutral-2.csv")
rpm_1 = pd.read_csv(dataset_dir + "rpm-1.csv")
rpm_2 = pd.read_csv(dataset_dir + "rpm-2.csv")
standstill_1 = pd.read_csv(dataset_dir + "standstill-1.csv")
standstill_2 = pd.read_csv(dataset_dir + "standstill-2.csv")

In [33]:
attack_free = pd.concat([attack_free_1, attack_free_2])
attack_free_1.columns## concatenate related datasets
attack_free = pd.concat([attack_free_1, attack_free_2])
DoS = pd.concat([DoS_1, DoS_2])
accessory = pd.concat([accessory_1, accessory_2])
force_neutral = pd.concat([force_neutral_1, force_neutral_2])
rpm = pd.concat([rpm_1, rpm_2])
standstill = pd.concat([standstill_1, standstill_2])

In [34]:
## concatenate all data-samples into one
can_train_and_test_ds = pd.concat([attack_free, DoS, accessory, force_neutral, rpm, standstill])
can_train_and_test_ds

            timestamp arbitration_id        data_field  attack
0        1.672531e+09            0C1  3000000430000004       0
1        1.672531e+09            0C5  3000000430000004       0
2        1.672531e+09            184      000200000000       0
3        1.672531e+09            1C7    065CB9A200003F       0
4        1.672531e+09            1CD        0000000000       0
...               ...            ...               ...     ...
1267139  1.672532e+09            199  CFFF0FFFEFFE00FF       0
1267140  1.672532e+09            1A1    00000000000000       0
1267141  1.672532e+09            1E5  46000E8000FFF201       0
1267142  1.672532e+09            1C3  0696068F00000000       0
1267143  1.672532e+09            2C3      085706A0071C       0

[10653140 rows x 4 columns]